[defaults]
roles_path = galaxy/roles
inventory = ./hosts
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache

# two hours timeout
fact_caching_timeout = 7200

allow_world_readable_tmpfiles = True